# shellcheck shell=bash
#
# This file starts a Nix shell when you `cd` to the infrastructure repository
# if you have `direnv` installed into your shell.

# Check whether the globally installed direnv is up to date (exit if it isn't).
# Please be conservative when bumping this. Direnv 2.24.0 is from 2020-11-15
# and we require it for `source_env_if_exists`.
set -e
# shellcheck disable=SC2154
$direnv version 2.24.0
set +e

# Load local environment variables that are set by the user. Used for
# customization that should not be tracked by git.
source_env_if_exists .env.local

# $SHELL_NAME can be exported by `.envrc` files in subdirectories to
# select a slightly different shell attribute from `flake.nix`. This
# is used by `upload-ami/` to extend the default dependencies in our
# Nix shell.
use flake $SHELL_NAME
